.cartItemContainer {
  height: 102px;
}

.cartItemContainerCheckout {
  width: calc(79100% / 1152);
}

.cartItemInfo {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
}

.quantityContainer {
  background: #aad091;
}

.priceContainer {
  background: #be0712;
}

.cartInfo {
  height: 60px;
  width: calc(5800% /270);
  margin-left: 20px;
  display: inline-block;
}

.cartInfoCheckout {
  height: calc(6000% / 270);
}

.remove {
  color: #708EC6;
  margin-left: 20px;
  margin-top: 4px;
}

.quantity, .price {
  display: flex;
  justify-content: center;
  color: #fff;
}

.quantityInput {
  width: 10px;
  outline: none;
  background: #aad091;
  color: #fff;
}

