.itemsAndCart {
  display: flex;
}

.itemsAndCartWhenSelected {
  position: absolute;
  left: calc(100% - 352px);
  top: 0;
}

.itemsAndCartNotSelected {
  position: absolute;
  left: calc(100% - 105px);
  top: 0;
}

.itemsInCart {
  height: 30px;
  width: 30px;
  background: #eb7d3c;
  border-radius: 50%;
  margin-top: 10px;
  z-index: 1;
  color: #fff;
  border: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
}

.itemsInCartNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartContainerWhenSelected {
  display: inline-block;
}

.cartContainerNotSelected {
  display: inline-block;
}

.Cart {
  background: #f7cbaf;
  height: 50px;
  width: 70px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartDisplayContainer {
  background: #fae5d7;
  width: 270px;
  padding-bottom: 20px;
  display: inline-block;
}

.clearCart, .checkout {
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  width: 80px;
  padding: 5px;
}

.clearCart {
  background: #90abda;
  margin-left: 20px;
}

.checkout {
  background: #be0712;
  margin-right: 30px;
}

.clearAndCheckoutContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
}