.checkoutModal {
  position: absolute;
  top: 120px;
  background: #fae5d7;
  width: 80%;
  height: 400px;
  left: 20px;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

.checkoutHeading {
  text-align: center;
}

.checkoutItems {
  overflow: scroll;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}