html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  text-align: center;
  margin-top: 0;
}

.sortButton {
  display: flex;
  justify-content: center;
}

.sortItems {
  display: inline-block;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-left: 2px;
  display: inline-block;
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  margin-left: 2px;
  display: inline-block;
}

.Homepage {
  background: #4674c1;
}

.itemsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.footer {
  height: 20px;
}