.itemParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemContainer {
  background: #fdbf2d;
  width: 320px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImage {
  width: 270px;
  text-align: center;
  margin-top: 20px;
}

.item {
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item:last-child {
  margin-bottom: 20px;
}

.itemTitle {
  background: #ea8f23;
  max-width: 270px;
}

.itemPrice {
  background: #1b2be5;
}

.addToCartButton {
  background: #a5a5a5;
}

@media (min-width: 900px) {
  .itemContainer {
    width: 400px;
    height: 561px;
  } 
}