.totalDisplay {
  background: #fff1ce;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.totalElement {
  display: inline-block;
}

.totalText {
  margin-left: 20px;
}

.totalNumber {
  margin-right: 50px;
}